.gem {
  margin: 10% auto;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

.gem:after {
  content: "";
  position: absolute;
  margin: 20% auto;
  top: -20px;
  width: 60px;
  height: 60px;
  border: 20px solid;
  border-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.15) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

.val {
  margin: 10% auto;
  text-align: center;
  font: 2em 'Fixedsys';
}
