@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

.pop-box {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.pop-box .pop-bg {
  background: #000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pop-box .pop-container {
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

.pop-box .pop-container .pop-pic {
  height: 30%;
  margin-top: 10%;
  padding: 1%;
}

.pop-box .pop-container .pop-pic img {
  height: 100%;
}

.pop-box .pop-container .pop-name {
  color: #aaa;
  font-size: 2vw;
  font-weight: bold;
  padding: 1%;
}

.pop-box .pop-container .pop-bio {
  color: #aaa;
  font-size: 1vw;
  padding: 1%;
}

.pop-box .pop-container .pop-sns {
  color: #aaa;
  font-size: 2vw;
  font-weight: bold;
  padding: 1%;
}
