* {
  margin: 0;
  padding: 0;
}

html {
  background: #000;
  color: #eee;
  font-family: Menlo, Noto Mono;
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
}

.background-cover {
  background: #000;
  filter: alpha(opacity=70);
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.pop-box {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.pop-box .pop-container {
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

.pop-box .pop-container .pop-pic {
  height: 40%;
  margin-top: 7%;
  padding: 1%;
}

.pop-box .pop-container .pop-pic img {
  height: 100%;
  border-radius: 100%;
  border: 3px solid white;
}

.pop-box .pop-container .pop-name {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-bio {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-sns {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-sns a {
  border-radius: 30%;
  color: white;
  margin: 1%;
  padding: 1%;
  text-align: justify;
  width: 70%;
}

.pop-box .pop-container .pop-sns a:hover {
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  transition: 500ms;
}
