@media (min-width: 800px) {
    .container {
        max-width: 800px;
    }
}

[class*="col-"] {
    padding: 0 !important;
}

.p1 {
    padding: 1px !important;
}

.p3 {
    padding: 3px !important;
}

.primary {
    color: #337ab7;
}

.success {
    color: #5cb85c;
}

.info {
    color: #5bc0de;
}

.warning {
    color: #f0ad4e;
}

.danger {
    color: #d9534f;
}

.bg_warning {
    background-color: #f0ad4e;
}

.bg_danger {
    background-color: #d9534f;
}

.bg_gray {
    background-color: #eeeeee;
}

.alert {
    width: 350px;
    color: #333333;
}

.break-word {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}

.pop-logo {
  /* display: none; */
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.pop-logo .pop-bg {
  background: #000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pop-logo .pop-container {
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

.pop-logo .pop-container .pop-pic {
  height: 30%;
  margin-top: 10%;
  padding: 1%;
}

.pop-logo .pop-container .pop-pic img {
  height: 100%;
}

.pop-logo .pop-container .pop-name {
  color: #aaa;
  font-size: 2vw;
  font-weight: bold;
  padding: 1%;
}

.pop-logo .pop-container .pop-bio {
  color: #aaa;
  font-size: 1vw;
  font-weight: bold;
  padding: 1%;
}

.pop-logo .pop-container .pop-sns {
  color: #aaa;
  font-size: 2vw;
  font-weight: bold;
  padding: 1%;
}
