* {
  margin: 0;
  padding: 0;
}

html {
  background: #222;
  color: #eee;
  font-family: Menlo, Noto Mono;
}

.pop-box {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.pop-box .pop-container {
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

.pop-box .pop-container .pop-pic {
  height: 40%;
  margin-top: 7%;
  padding: 1%;
}

.pop-box .pop-container .pop-pic img {
  height: 100%;
  border-radius: 100%;
  border: 3px solid white;
}

.pop-box .pop-container .pop-name {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-bio {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-bio img {
  height: 25px;
}

.pop-box .pop-container .pop-sns {
  color: white;
  padding: 2%;
}

.pop-box .pop-container .pop-sns a {
  border-radius: 30%;
  color: white;
  margin: 1%;
  padding: 1%;
  text-align: justify;
  width: 70%;
}

.pop-box .pop-container .pop-sns a:hover {
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  transition: 500ms;
}

.stars {
  background: black url("bg/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("bg/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
